<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><strong>{{title}}</strong></title>
</head>
<body>
<div>This page been visited <strong><strong>{{count}}</strong></strong> time(s) </div>
 
</body>
</html>